

<h1>Family Home Evening <%= params[:name] %></h1>
<%= link_to "Sign up", signup_path, :class => "signup_button round" %><br />
<%= link_to "Present Lesson", '#', :class => "present_button round" %>


