<h1>What is Family Home Evening?</h1>
<p>Family home evening (FHE) is a special time set aside each week that brings family members together and strengthens their love for each other, helps them draw closer to Heavenly Father, and encourages them to live righteously.</p>
<blockquote>
"We call upon parents to devote their best efforts to the teaching and rearing of their children in gospel principles which will keep them close to the Church. The home is the basis of a righteous life, and no other instrumentality can take its place or fulfill its essential functions in carrying forward this God-given responsibility. We counsel parents and children to give highest priority to family prayer, family home evening, gospel study and instruction, and wholesome family activities."
(First Presidency letter, 11 February 1999 — Gordon B. Hinckley, Thomas S. Monson, and James E. Faust) 
</blockquote>
<p>This application was designed to help facilitate in planning and presenting FHE and to keep track of lessons that have been previously taught in the family.</p>
