<h1> Questions or Suggestions? </h1>
<p>Email
 <%= mail_to("goodies4uall@gmail.com", "me", :subject => "Family Home Evening Application", :encode  => "hex") %> 
 with any helpful suggestions or questions.</p>